* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* Navigation bar */

.navigationBar {
    width: 100%;
    height: 45px;
    background-color: rgba(0,0,0,0.8);
    font-size: 13px;
    margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.navigationBar li {
    display: inline-block;
}
.navBarIcons {
    color: rgb(164, 162, 162);
    padding: 0 20px;
}
.navigationBarItems li a {
    padding: 0 20px;
    text-decoration: none;
    font-size: 12px;
    color: rgb(164, 162, 162);
}
.navigationBarItems li a:hover {
    color: whitesmoke;
    transition-duration: 1s;
}
.navBarIcons:hover {
    color: whitesmoke;
    transition-duration: 1s; 
}

/* iPhone 14 Presentation */

.iPhone14PresentationWindow {
    width: 100%;
    height: 625px;
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
}
.iPhone14PresentationWindow {
    background-image: url(https://www.apple.com/v/home/aw/images/heroes/iphone-14/hero_iphone14__fjmsqstr1ceq_large.jpg);
    background-position: center center;
}
.iPhone14PresentationWindowText {
    width: 20%;
    height: 180px;
    margin-top: 100px;
    text-align: center;
}
.iPhone14PresentationWindowHeader {
    font-size: 53px;
    line-height: 1.07;
    font-weight: 500;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.iPhone14PresentationWindowSubHeader {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.1;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
}
.iPhone14PresentationWindowLinkLeft {
    font-size: 21px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-right: -4px;
}
.iPhone14PresentationWindowLinkRight {
    font-size: 21px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 30px;
}

/* Holiday Gift Guide */

.holidayGiftGuideWindow {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
video {
    position: relative;
    object-fit: cover;
    width: 100%;
    z-index: 1;
}
.holidayGiftGuideTextArea {
    margin-top: 350px;
    position: absolute;
    z-index: 2;
    width: 30%;
    height: 200px;
    text-align: center;
}
.giftGuideText {
    color: whitesmoke;
    font-size: 46px;
    line-height: 1.07;
    font-weight: 600;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.giftGuideSubText {
    color: whitesmoke;
    font-size: 28px;
    line-height: 1.10;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
}
.giftGuideLink {
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    line-height: 1.3;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
}

/* Apple Card Window */

.appleCardWindow {
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: center;
    margin-top: 37px;
}
.appleCardWindow {
    background-image: url(https://www.apple.com/v/home/aw/images/heroes/apple-card-december/hero__dvsxv8smkkgi_large.jpg);
    background-position: center center;
}
.appleCardWindowText {
    width: 36%;
    height: 300px;
    text-align: center;
    margin-top: 50px;
}
.appleCardLogo {
    width: 100%;
    height: 70px;
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    align-items: center;
}
.appleCardLogo > i {
    font-size: 49px;
}
.appleCardWindowHeader {
    font-size: 28px;
    line-height: 1.10;
    font-weight: 400;
    color: whitesmoke;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.appleCardWindowSubHeader {
    font-size: 21px;
    line-height: 1.19;
    font-weight: 400;
    color: whitesmoke;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 15px;
}
.appleCardWindowLinkLeft {
    font-size: 21px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-right: -4px;
}
.appleCardWindowLinkRight {
    font-size: 21px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 30px;
}

/* Apple Products Collection */

.appleProductsCollectionWindow {
    margin-top: 13px;
    width: 100%;
    height: 1800px;
}


.iPhone14Pro-and-iPad {
    width: 100%;
    height: 600px;
}


.iPhone14Pro {
    width: 48%;
    height: 580px;
    margin: 0 0 17px 17px;
    float: left;
    background-image: url(https://www.apple.com/v/home/aw/images/promos/iphone-14-pro/promo_iphone14pro__4n4twj56fzmu_large.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
}
.iPhone14ProText {
    width: 40%;
    height: 200px;
}
.iPhone14ProHeader {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 53px;
    text-align: center;
    color: whitesmoke;
}
.iPhone14ProSubHeader {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 4px;
    text-align: center;
    color: whitesmoke;
}
.iPhone14ProLinkLeft {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 40px;
}
.iPhone14ProLinkRight {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 33px;
}


.iPad {
    width: 48%;
    height: 580px;
    margin: 0 17px 0 17px;
    float: right;
    background-image: url(https://www.apple.com/v/home/aw/images/promos/ipad/promo_ipad__fioegapg12qi_large.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
}
.iPadText {
    width: 40%;
    height: 200px;
}
.iPadHeader {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 53px;
    text-align: center;
}
.iPadSubHeader {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 4px;
    text-align: center;
}
.iPadLinkLeft {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 40px;
}
.iPadLinkRight {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 33px;
}



.airPods-and-appleWatchSeries8 {
    width: 100%;
    height: 600px;
}


.airPods {
    width: 48%;
    height: 580px;
    margin: 0 0 17px 17px;
    float: left;
    background-image: url(https://www.apple.com/v/home/aw/images/promos/airpods-holiday-2022/promo_airpods_holiday__fqg7rt8b4vma_large.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
}
.airPodsTextArea {
    width: 40%;
    height: 200px;
    margin-top: 50px;
}
.airPodsTextArea > img {
    padding-left: 45%;
    padding-right: 45%;
}
.airPodsHeader {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
}
.airPodsSubHeader {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 4px;
    text-align: center;
}
.airPodsLink {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 39%;
    margin-right: 35%;
}


.appleWatchSeries8 {
    width: 48%;
    height: 580px;
    margin: 0 17px 17px 0;
    float: right;
    background-image: url(https://www.apple.com/v/home/aw/images/promos/apple-watch-series-8/promo_apple_watch_series_8__ch7rexplmihe_large.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
}
.appleWatchSeries8TextArea {
    width: 40%;
    height: 200px;
    margin-top: 55px;
}
.appleWatchSeries8TextArea > img {
    padding-left: 25%;
}
.appleWatchSeries8SubHeader {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 4px;
    text-align: center;
    color: whitesmoke;
}
.appleWatchSeries8LinkLeft {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 40px;
}
.appleWatchSeries8LinkRight {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 33px;
}


.appleWatchUltra-and-appleArcade {
    width: 100%;
    height: 600px;
}


.appleWatchUltra {
    width: 48%;
    height: 580px;
    margin: 0 0 17px 17px;
    float: left;
    background-image: url(https://www.apple.com/v/home/aw/images/promos/apple-watch-ultra/promo_apple_watch_ultra__gnsqulvdc4a6_large.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
}
.appleWatchUltraTextArea {
    width: 40%;
    height: 200px;
    margin-top: 55px;
}
.appleWatchUltraTextArea > img {
    padding-left: 25%;
}
.appleWatchUltraSubHeader {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 4px;
    text-align: center;
}
.appleWatchUltraLinkLeft {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 40px;
}
.appleWatchUltraLinkRight {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 33px;
}


.appleArcade {
    width: 48%;
    height: 580px;
    margin: 0 17px 17px 20px;
    float: left;
    background-image: url(https://www.apple.com/v/home/aw/images/promos/arcade-mylittlepony-manemerge/mlp_promo__sfbi0rap38iu_large.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
}
.appleArcadeTextArea {
    width: 40%;
    height: 200px;
    margin-top: 55px;
}
.appleArcadeTextArea > img {
    padding-left: 25%;
}
.appleArcadeTopSubHeader {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 4px;
    margin-bottom: 360px;
    text-align: center;
    color: whitesmoke;
}
.appleArcadeBottomSubHeader {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 4px;
    margin-top: 360px;
    text-align: center;
    color: whitesmoke;
}
.appleArcadeLinkLeft {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 40px;
    color: whitesmoke;
}
.appleArcadeLinkRight {
    font-size: 17px;
    display: inline-block;
    font-weight: 300;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
    text-decoration: none;
    margin-left: 33px;
    color: whitesmoke;
}

/* Footer */

footer {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding-left: 14%;
    padding-right: 14%;
}
.footerTextArea {
    width: 73%;
    height: 350px;
    padding-top: 15px;
    border-bottom: 1px solid #a9a9a9;
}
.footerTextArea > ul > li {
    color: #a9a9a9;
    padding-bottom: 15px;
    list-style: none;
}
.footerNotes {
    font-size: 13px;
}
.strong {
    color: gray;
}
.footerTextAreaLinks {
    text-decoration: none;
    color: gray;
}
.footerLinkArea {
    width: 73%;
    height: 515px;
    display: flex;
    justify-content: center;
}
.column1 {
    width: 20%;
    height: 500px;
    margin: 0 10px 0 0;
}
.column2, .column3, .column4 {
    width: 20%;
    height: 500px;
    margin: 0 10px 0 10px;
}
.column5 {
    width: 20%;
    height: 500px;
    margin: 0 0 0 10px;
}
.column1 {
    color: #a9a9a9;
    padding-bottom: 15px;
    list-style: none;
}
.footerColumn1Links {
    list-style: none;
    padding-top: 10px;
    font-size: 13px;
}
.footerColumn1Links > li {
    padding-bottom: 10px;
}
.footerColumn1Links > li > a {
    text-decoration: none;
    color: #a9a9a9;
}
.footerColumn1Links > li > a:hover {
    border-bottom: 1px solid #a9a9a9;
}
.column2 {
    color: #a9a9a9;
    padding-bottom: 15px;
    list-style: none;
}
.footerColumn2Links {
    list-style: none;
    padding-top: 10px;
    font-size: 13px;
}
.footerColumn2Links > li {
    padding-bottom: 10px;
}
.footerColumn2Links > li > a {
    text-decoration: none;
    color: #a9a9a9;
}
.footerColumn2Links > li > a:hover {
    border-bottom: 1px solid #a9a9a9;
}
.paddingTop {
    padding-top: 15px;
}
.column3 {
    color: #a9a9a9;
    padding-bottom: 15px;
    list-style: none;
}
.footerColumn3Links {
    list-style: none;
    padding-top: 10px;
    font-size: 13px;
}
.footerColumn3Links > li {
    padding-bottom: 10px;
}
.footerColumn3Links > li > a {
    text-decoration: none;
    color: #a9a9a9;
}
.footerColumn3Links > li > a:hover {
    border-bottom: 1px solid #a9a9a9;
}
.column4 {
    color: #a9a9a9;
    padding-bottom: 15px;
    list-style: none;
}
.footerColumn4Links {
    list-style: none;
    padding-top: 10px;
    font-size: 13px;
}
.footerColumn4Links > li {
    padding-bottom: 10px;
}
.footerColumn4Links > li > a {
    text-decoration: none;
    color: #a9a9a9;
}
.footerColumn4Links > li > a:hover {
    border-bottom: 1px solid #a9a9a9;
}
.column5 {
    color: #a9a9a9;
    padding-bottom: 15px;
    list-style: none;
}
.footerColumn5Links {
    list-style: none;
    padding-top: 10px;
    font-size: 13px;
}
.footerColumn5Links > li {
    padding-bottom: 10px;
}
.footerColumn5Links > li > a {
    text-decoration: none;
    color: #a9a9a9;
}
.footerColumn5Links > li > a:hover {
    border-bottom: 1px solid #a9a9a9;
}
.appleContactInfo {
    width: 73%;
    height: 100px;
    border-bottom: 1px solid #a9a9a9;
    font-size: 13px;
    color: #a9a9a9;
}
.appleContactInfoLinks {
    text-decoration: none;
}
.footerLegalInfo {
    width: 73%;
    height: 200px;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 18px;
}
.copyrightInfo {
    padding-right: 10px;
    color: #a9a9a9;
}
.footerLegalInfoLinks {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #a9a9a9;
}
.worldLocationInfo {
    float: right;
    color: #a9a9a9;
}
.footerLegalInfo > span > a {
    text-decoration: none;
    color: #a9a9a9;
}
.footerLegalInfo > span > a:hover {
    border-bottom: 1px solid #a9a9a9;
}